.tiptap-editor {
    --tiptap-button-size: 32px;
    --tiptap-focus-color: var(--bs-focus-ring-color, rgba(13, 110, 253, 0.25));
    position: relative;
    display: block;
}

.tiptap-editor * {
    box-sizing: border-box;
}

.tiptap-editor textarea {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    width: 100%;
    overflow: hidden;
}

.tiptap-editor .tiptap-toolbar {
    position: absolute;
    background: var(--bs-tertiary-bg, #EFEFEF);
    z-index: 2;
}

.tiptap-editor .tiptap-toolbar-group {
    border-right: 1px solid rgba(100, 100, 100, 0.2);
    display: inline-block;
}

.tiptap-editor .tiptap-toolbar-group:last-child {
    border-right: 0;
}

.tiptap-editor .tiptap-toolbar-group>button {
    border: 0;
    height: var(--tiptap-button-size);
    width: var(--tiptap-button-size);
    background: transparent;
}

.tiptap-editor .tiptap-toolbar-group>button:not([disabled]):hover,
.tiptap-editor .tiptap-toolbar-group>button.is-active {
    background: rgba(100, 100, 100, 0.2);
}

.tiptap-editor .ProseMirror-selectednode {
    border: 2px solid var(--tiptap-focus-color)
}